.hero-tab {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--secondary-color);
}

.hero-tab-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 40px;
}

.hero-tab-info {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-tab-list button:disabled {
    text-decoration: none; 
    border-bottom: 2px solid var(--text-color);
}


.hero-abilitys {
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    text-align: center;
}

.hero-abilitys h2 {
    font-size: small;
}

.hero-talants {
    display: grid;
    grid-template-columns: 200px 20px 200px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    text-align: center;
}

.hero-talants h1 {
    font-size: large;
    color: brown;
}

.hero-talants h2 {
    font-size: small;
}