.hero {
    padding-top: 21px;
    padding-bottom: 21px;
}

.hero-title {}


.hero-img {}

.hero-desc-info {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    row-gap: 10px;
}

.hero-attack-type {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero-attack-type h2 {
    width: 120px;
}

.hero-difficult {
    display: flex;
    align-items: center;
    column-width: 80px;
    column-gap: 20px;
}

.hero-difficult h2 {
    width: 120px;
}

.hero-desc-info-row {
    padding-top: 21px;
    padding-bottom: 21px;

    display: flex;
    column-gap: 30px;
}

.hero-main-info {
    padding: 10px;
    height: 160px;

    display: flex;
    justify-content: space-around;
    column-gap: 40px;

    background: var(--secondary-color);
}

.hero-attr {
    display: grid;
    grid-template-columns: 20px 20px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    text-align: center;
}

.hero-skills-row {
    padding-top: 42px;
    padding-bottom: 42px;

    display: flex;
    justify-content: space-between;
}

.hero-abilitys {
    display: grid;
    grid-template-columns: 100px 500px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    text-align: center;
}


.hero-talants {
    display: grid;
    grid-template-columns: 200px 20px 200px;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;

    text-align: center;
}

.hero-talants h1 {
    font-size: large;
    color: brown;
}