.header {
    padding-top: 20px;
    padding-bottom: 20px;
    background: var(--secondaryColor);
}

.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    display: flex;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.header-nav li {
    display: flex;
    column-gap: 20px;
}

.header-nav a {
    color: var(--textColor);
}

a:hover {
    /* Цвет при наведении */
    color: var(--textColor);
}
  
  a:visited {
    /* Цвет посещённой ссылки */
    color: var(--textColor);
}
  
  a:active {
    /* Цвет ссылки при клике */
    color: var(--textColor);
}