.footer {
    margin-top: auto;
    padding: 60px 0 50px;
    background: var(--secondary-color);
    color: var(--text-color);
}

.footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    color: var(--secondary-text);
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}